.music_festival_container {
  //   background-color: #fffbd0;
  //   transition: 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  &.music_festival_container_dark {
    // background-color: #333;
  }
}
